Berechnen sie das Produkt von ([%MULTIPLICAND%])_{[%BASE%]} und ([%MULTIPLIER%])_{[%BASE%]} in der angegebenen Basis

Lösung:

([%MULTIPLICAND%])_{[%BASE%]} * ([%MULTIPLIER%])_{[%BASE%]} = ([%PRODUCT%])_{[%BASE%]}
[%PARTIAL_RESULTS%]
